/***************************** NAVIGATION HEADER***************************/
.nav-container{
  width:100%;
  margin:auto;
  background-color: #989898;
}

.nav-inner-container{
  width:80%;
  padding: 1em;
  margin:auto;
  color: #fff;
  font-weight: 500;
}

.nav-logo-wrapper img {
  width: 115px;
}

.nav-links-container{
  float: right;
}

.main-nav, .user-info,
.nav-links-container, .nav-logo-wrapper{
    display: inline-block;
}

.user-info{
  padding-left: 2em;
}

.nav-links, .nav-links:hover, .user-acc, .user-acc:hover{
  text-decoration: none;
  padding: .5em;
  color: #fff;
}

.avatar-wrapper img{
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.active {
  background-color: #fff;
  color: #707070;
  border-radius: 5px;
}

.logoutBtn{
  background-color:   #989898;
  border: none;
}
/***************************** LIST ITEMS ***************************/
.results-container{
  width: 100%;
  background-color: #FCFCFC;
  min-height: calc(90vh - 50px);
}

p{ color: #000; }

.recipe-title, .details, .title{
  color:#EB3030;
}

.title-wrapper{
  margin: auto;
  width: 80%;
  padding: 1em 0 2em 0;
  text-align: center;
}

.title{
  margin: auto;
  width: 50%;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #EB3030;
  font-weight:400;
}

.title, .details li, h3{
  text-transform: capitalize;
}

.list-Items:hover{
  text-decoration: none;
}

.details{
    padding: 0;
    text-align: center;
    margin: auto;
}

.details li{
    list-style-type: none;
    font-size: 13pt;
    margin-bottom: .15em;
}

.list-container{
  margin: auto;
  width: 100%;
  padding-top: 0.5em;
  margin-top: 1em;
}

.list-container{
  padding-bottom: 1em;
  border-bottom: 1px solid #333;
}

.list-container:last-of-type{
  padding-bottom: 2em;
  border: none;
}

.recipe-title { font-weight:400; }

.img-wrapper{
  width: 100%;
  text-align: center;
}

.save-recipe{
  border: none;
  color: #fff;
  background-color:#EB3030;
  border-radius: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#logo { background: none; }

/********************FOOTER***********************/
.footer-wrapper{  margin: auto; width: 80%; }
.footer-nav{ padding-top: 1em; }
.footer-container{ height: 60px; }

/************************************LOGIN FORM *****************************/
.wraper-login{
  margin: auto;
  margin-top: 5em;
  padding: 4em;
  width: 70%;
  min-height: calc(90vh - 134px);
}
.logo {
  margin: auto;
  width: 100%;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 3em;
}
.logo img { width: 250px; }
.login-container{
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 1em;
  display: block;
}
.login-container a{
  width: 90%;
  margin: auto;
  text-align: center;
  display: block;
}
.login-container .facebook, .login-container .google {
  color: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 5px;
  font-weight: 500;
  font-size: 13pt;
}
.login-container .facebook { background-color: #3b5998; }
.login-container .google{ background-color: #DB4437; }


/****************************SEARCH FORM ******************************/
.search-container{
  margin:auto;
  text-align: center;
}
.search-bar{
  padding: .5em .25em .5em 1em;
  border-radius: 5px;
  width: 50%;
  color: #B7B2B2;
  border: none;
}
.submit-btn {
  background-color: #EB3030;
  color: #fff;
  padding: .4em;
  border-radius: 5px;
  margin-left: 1em;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
}


/************************************************* RECIPES*************************************/
h2.recipe-title{ margin-top: 1em; }

.ingredient-list-container,
.nutrition-list-container ul,
.list-numbers{ color: #707070; padding-top: 1.5em; }
.recipe-info-main-container{ background-color: #FCFCFC; }
.recipe-info-container{ width: 80%; }
.recipe-info-container{ margin:auto; }

.recipe-title{
  margin: auto;
  text-align: center;
  margin-bottom:  1em;
}

.recipe-img-wrapper{
  width:  350px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/*Carousel */
.carousel-control-next, .carousel-control-prev{ background-color: rgba(0, 0, 0, 0.05); }
.carousel-control-next:hover, .carousel-control-prev:hover{ background-color: rgba(0, 0, 0, 0.2); }

.carousel-container{
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.carousel-container img{
  margin:auto;
  height: 100%;
  overflow: hidden;
}
.carousel-container{
  margin: auto;
  width:100%;
  height: 250px;
}
.carousel-item{ overflow: hidden; }
.carousel-item-container img{ width: 700px; }
#carousel .active{
  background-color: #FCFCFC;
}

#carousel .carousel-indicators li{
  background-color: #333;
}


/* thi is the ingredient container */
.section-container{
  margin-top: 1em;
  padding: 1em;
  text-align: center;
}
.description-title{
  margin:auto;
  font-weight: 300;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid black;
  color: #575757;
}
.inner-container{   border-bottom: 1px solid #707070;   text-align: left; }

/* this is the directions Style */
.list-numbers{  counter-reset: item;  list-style-type: none; }
.directions-list li{
  float: left;
  padding-bottom: 1em;
  line-height: 24px;
  position: relative;
  width: 100%;
}
.directions-list li::before{
  font-size: 16pt;
  border: 1px solid #707070;
  margin: 0 0 0.5rem -1.5rem;
  content: counter(item) "";
  counter-increment: item;
  position: absolute;
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius:  50%;
  text-align: center;
  transform: scale(0.8);
}
.recipe-list-item{
  font-size:  13pt;
  display: block;
  line-height: 20px;
  margin-left: 1.5em;
  padding-top: 0.5em;
}
/* this is the directions Style End */


/* Youtube */
.youtubeVideo{ padding: 2em }
.thumnail-container{ margin-top: 1em;  padding: 4em 3em; }
.thumnail-container h5, .thumnail-container h4{ color: #575757; }
.thumnail-container button{
  border: none;
  background-color: #EB3030;
  color: #fff;
  padding: 0.30em;
  border-radius: 5px;
}

@media only screen and (min-width: 1050px) {
  .list-container{
    padding: 0.5em;
    width: 95%;
    margin-bottom: 1.5em;
    background-color: #fff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    border: none;
  }
}

@media only screen and (min-width: 1735px) {
  .results-container{ background-color: #FCFCFC; }
  .title-wrapper{
    margin: auto;
    width: 80%;
    padding: 1em 0 2em 0;
    text-align: center;
  }
  .title{ text-transform: capitalize; }
  .list-container{
    padding: 0.5em;
    width: 95%;
    margin-bottom: 1.5em;
    background-color: #fff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    border: none;
  }
  .img-container{ float:left; }
  .img-wrapper{
    width:  250px;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .recipe-img{ width: 300px; margin:auto; }
  .recipe-information-container{
    width: 80%;
    float: left;
    text-align: left;
    margin-left: 0.5em;
    padding:0 1em;
  }
  .title{ margin-bottom: 1em; }
  .details li:nth-child(1n+2){ padding-left: 2em; }
  .details li{   display: table-cell;   }
  .description{ font-size: 11pt; }
}
